
/* General Styling ----------------------------------------------------------------------------------- */
html {background:#1a1a1a !important; color:white; font-family: system-ui;}
body {background:#1a1a1a !important; color:white; font-family: system-ui;}

/* header ----------------------------------------------------------------------------------- */
.header {color:white; padding-bottom:15px; border-bottom:13px solid #f5e017}
.main_title {color:white !important; }
.flag {width:40%; padding-top:4%; padding-left:10px;}
.flag img {width:150px}
.logo_img {width:300px;}

/* footer ----------------------------------------------------------------------------------- */
.footer {background:#1a1a1a !important; border-top:13px solid #f5e017}


/* main content ----------------------------------------------------------------------------------- */
.main_content {margin-top:0; padding-top:0;}
.missing_counter {margin-top: -2em; margin-bottom:5px;}
.missing_counter span {background:#3a3a3a90; text-align: center; }
.disaster_name {padding:5px;}
.disaster_image {width:auto; height:20em; margin-top: -3em; margin-bottom:1em}
.report_button {font-family:system-ui; font-weight:bold !important}


/* forms ----------------------------------------------------------------------------------- */
.label {color:white !important}
.select, .select select{ width: 100%;}
textarea { height: 70px !important;}

/* response ----------------------------------------------------------------------------------- */
@media only screen and (max-width: 800px) {
    .logo_img {width:200px;}
    .flag {width:15%; padding-top:15%;}
    .flag img {width:100px}
}