{% extends 'admin/base.html' %}

{% block extrahead %}{{ block.super }}
<style>
:root {
  --primary: #00a68e;
  --secondary: #00a68e;
  --link-fg: #7c449b;
  --link-selected-fg: #8f5bb2;
  --header-color: #fff;
  --accent:#fff;
  --breadcrumbs-bg: #016d5d;
}
.breadcrumbs {margin-bottom:10px;}
#header {min-height: 3.25rem;}
#site-name {font-weight: 600 !important;  font-size: 1.5rem !important;}
</style>
{% endblock %}

{% block branding %}
<div class="navbar-brand">
  <a class="navbar-item" href="/">
      <img src="/static/img/mafqoodly_logo.jpg" style="max-height: 50px; padding-right:3px">
      <h1 class="title is-4" style="color:white">Mafqoodly - Libyan Disaster Search Register</h1>
  </a>
</div>
{% endblock %}