{% extends 'base.html'%}
{% load static %}

{% block content %}

<div class="admin_buttons">
{% if user.is_authenticated %}
    <a href="disaster/{{disaster.id}}/mafqood/dashboard" class="button is-narrow is-danger is-small">Stats</a>
    <a href="disaster/{{disaster.id}}/person/report_new_person" class="button is-narrow is-warning is-small">اضف حالة شخص</a>
{% else %}
    <a href="/accounts/login" class="button is-narrow is-warning is-small">Login</a>
{% endif %}
</div>

{% if disaster.image %}
    <div class="disaster_image" style="background-image:url('/media/{{disaster.image}}'); width:100%">
        <div style="background-image: linear-gradient(to bottom right, #1a1a1a00, #1a1a1a70, #1a1a1a); height:100%; width:100%"> </div>
    </div>
    <div > </div>
{% else %}
    <div style="height:6em;"> </div>
{% endif %}

<strong>{{message}}</strong>

<div class="missing_counter is-size-1 has-text-centered" style="color:white;">
    <div class="is-size-5" style="padding-bottom:3px;">حصالة عدد المفقودين</div>
    {% for i in counter %}
    <span class="has-text-centered" style="padding:10px">{{i}}</span>
    {% endfor %}
</div>

<div class="is-size-2 has-text-centered">
    <div class="disaster_name"> {{disaster.name}}</div>
    <a class="report_button button is-danger is-medium" style="min-width:22%" href="disaster/{{disaster.id}}/mafqood/report_missing" >بلغ عن مفقود</a>
</div>
</br>
</br>
<div class="is-size-4 has-text-right" style="direction: rtl;">
    <span style="font-weight:bold;">مرحبًا بك في منصتنا</span>
    <p class="is-size-5 has-text-right is-right">نسعى في منصة "مفقود" للمساهمة والبحث عن مفقودي اي فاجعة تمر بها ليبيا. وتوفير الموارد اللازمة والطارئة للمساعدة في عملية البحث والإنقاذ. تم تصميم منصتنا المخصصة لمساعدة أولئك المتأثرين بالفاجعة، وتقديم الأمل والمساعدة.</p>
    <span style="font-weight:bold;">ما نقدمه</span>
    <p class="is-size-5 has-text-right is-right">- قاعدة بيانات المفقودين : تعد قاعدة البيانات الشاملة لدينا مستودعًا مركزيًا للمعلومات عن الأشخاص المفقودين. يمكن لأي شخص إنشاء قاعدة بيانات للأشخاص المفقودين، بما في ذلك التفاصيل الحيوية والصور الحديثة وأي سمات مميزة يمكن من خلالها المساعدة في التعرف على الشخص المفقود وتمييزه. تعتبر هذه القاعدة  مصدرًا حيويًا للأسر للتعاون ومشاركة المعلومات مع جهات إنفاذ القانون والمؤسسات المعنية.</p>
    <p class="is-size-5 has-text-right is-right">- مركز الموارد : يقدم موقعنا ثروة من الموارد لإرشاد الأسر خلال عملية البحث. نقدم معلومات حول منظمات البحث والإنقاذ والمساعدة.</p>
</div>
</br>
{% endblock %}