{% extends 'base.html'%}
{% load static %}
{% load bulma_tags %}

{% block content %}

<div class="is-size-2 has-text-centered">
    <div class="page_title" style="direction:rtl">مفقودي {{disaster.name}} </div>
</div>

</br>
<div class="is-size-4 has-text-right" style="direction: rtl; padding-top:0px;">

    {% include 'searchbar.html' %}

    <div class="container is-size-6" style="padding:30px 0; ">
        <table class="table is-hoverable">
            <thead>
            <tr>
              <th><abbr title="Full Name">Full Name</abbr></th>
              <th><abbr title="City">City</abbr></th>
              <th><abbr title="Age">Age</abbr></th>
              <th><abbr title="Reporter">Reporter</abbr></th>
              <th><abbr title="Status">Status</abbr></th>
              <th><abbr title="Status"></abbr></th>
            </tr>
          </thead>
            <tbody>
                {% for m in page_obj %}
                <tr>
                  <td>{{m.full_name}}</td>
                  <td>{{m.city}}</td>
                  <td>{{m.age}}</td>
                  <td>{{m.reporter_name}}</td>
                  <td>{{m.get_status_display}}</td>
                  <td> <a href="{% url 'mafqood_update' disaster.id m.id %}">Edit</a> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'pagination.html' %}
</div>

</div>
</br>
{% endblock %}