<div class="is-wide has-text-centered">
    {% if page_obj.has_previous %}
        <a class="button is-white is-small" href="?page=1">&laquo; first</a>
        <a class="button is-white is-small"  href="?page={{ page_obj.previous_page_number }}"><<</a>
    {% endif %}

    <span class="">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a class="button is-white is-small" href="?page={{ page_obj.next_page_number }}">>></a>
        <a class="button is-white is-small" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
</nav>