    <form action="{% url 'mafqood_search' disaster.id %}" method="get" style="padding:30px 60px">
        <div class="columns">
            <div class="column is-one-fifths">
                <div class="field">
                    <label class="label">Search Type</label>
                    <div class="control ">
                      <span class="select">
                        <select name="t_type" class=" control" id="t_type">
                          <option value="">Any</option>
                          <option value="name" {% if t_type == 'name' %}SELECTED{% endif %}>First Name</option>
                          <option value="surname" {% if t_type == 'surname' %}SELECTED{% endif %}>Surname</option>
                          <option value="full_name" {% if t_type == 'full_name' %}SELECTED{% endif %}>Full Name</option>
                          <option value="contact_number" {% if t_type == 'contact_number' %}SELECTED{% endif %}>Contact Number</option>
                          <option value="reporter_number" {% if t_type == 'reporter_number' %}SELECTED{% endif %}>Reporter Contact Number</option>
                        </select>
                      </span>
                    </div>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="field">
                    <label for="t_query" class="label">Search</label>
                    <div class="control ">
                      <input type="text" name="t_query" maxlength="255" class=" control input" id="t_query" value="{% if t_query %}{{t_query}}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="column is-one-fifths">
                <div class="field">
                    <label for="dob" class="label">Date of Birth</label>
                    <div class="control ">
                        <input type="date" name="dob" class="control input" id="dob" value="{% if dob %}{{dob}}{% endif %}">
                    </div>
                </div>
            </div>
            <div class="column is-one-fifths">
                <div class="field">
                    <label class="label">Nationality</label>
                    <div class="control ">
                      <span class="select">
                        <select name="nat" class=" control" id="nat">
                          <option value="">Any</option>
                          <option value="NONLBY" {% if nat == 'NONLBY' %}SELECTED{% endif %}>None Libyan</option>
                          <option disabled style="font-style:italic">-------------------</option>
                          {% for c in countries %}
                             <option value="{{c.0}}" {% if nat == c.0 %}SELECTED{% endif %}>{{c.1}}</option>
                          {% endfor %}
                        </select>
                      </span>
                    </div>
                </div>
            </div>
            <div class="column is-one-querater">
                <div class="field">
                    <label class="label">&nbsp;</label>
                    <button class="report_button is-fullwidth button is-warning is-search" type="submit" style="">Search</button>
                </div>
            </div>

        </div>
    </form>
