    <div style="position:fixed; width:100%; z-index:1">
        <section class="section is-fixed-top" style="padding-top:0px;">
            <div class="container admin_buttons">
                <a href="/disaster/{{disaster.id}}/mafqood/dashboard" class="button is-info ">Stats</a>
                <a href="/disaster/{{disaster.id}}/person/report_new_person" class="button is-warning ">اضف شخص</a>
                <a href="/admin" class="button is-danger is-light is-pulled-right">Admin</a>
            </div>
        </section>
    </div>