    <div style="position:fixed; width:100%; z-index:1">
        <section class="section is-fixed-top" style="padding-top:0px;">
            <div class="container admin_buttons">
                <a href="/disaster/{{disaster.id}}/mafqood/search" class="button is-small is-info ">Search</a>
                <a href="/disaster/{{disaster.id}}/mafqood/report_missing" class="button is-small is-danger">Add Missing</a>
                <a href="/disaster/{{disaster.id}}/person/report_new_person" class="button is-small is-warning ">Add IDP</a>
                <a href="/disaster/{{disaster.id}}/mafqood/dashboard" class="button is-small is-info is-pulled-right">Stats</a>
            </div>
        </section>
    </div>